#about .left-side {
  padding-top: 8rem;
}

#about .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .right-side div, #about .right-side ul {
  width: 100%;
  height: 100%;
}

#about .right-side .familiar ul,
#about .right-side .learning ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

#about .right-side .familiar ul li,
#about .right-side .learning ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .right-side .familiar ul li :hover,
#about .right-side .learning ul li :hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#about .right-side .familiar ul li img,
#about .right-side .learning ul li img {
  max-width: 33%;
  max-height: 33%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#projects .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#projects .content .showcase {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects .content .showcase > ul {
  width: 100%;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;
}

#projects .content .showcase > ul li {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #00000091;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 1rem;
}

#projects .content .showcase > ul li * {
  color: white;
}

#projects .content .project-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#projects .content .project-tags ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#projects .content .project-tags ul li {
  background: var(--clr-primary);
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.4rem;
}

#projects .content .project-tags ul li + li {
  margin-left: 0.5rem;
}
/*# sourceMappingURL=sections.css.map */