html{
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding:0;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}


:root{
  --clr-primary: #01C0FF;
  --clr-secondary: #013c7a;
}

body {
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}



h1{
  font-size: 3rem;
  color: white;
}

li > a {
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section,
main,
nav{
  padding:0 10rem 0 10rem;
}